
  #bloc_page
  {
      width: auto;
  }

  }
  @import url('https://fonts.googleapis.com/css?family=Lato');

  body
  {
    background:rgb(255, 255, 255);
    font-family:'Lato';
    margin:0;
    padding:0;
  }

  a
  {
    color:rgb(238, 71, 99);
    text-decoration:none;
  }

  .material-icons
  {
    font-size:24px;
    margin-right:12px;
    vertical-align:text-bottom;
  }

  .menu
  {
    background:white;
    color:black(180, 30, 30);
    height: 100px;
    position:relative;
    font-family:  "Press Start 2P", cursive;
    text-align: center;
  }

  .menu .title
  {
    font-size: 20px;
    font-weight: bold;
    line-height: 100px;
    padding: 0 200x;
  }

  .menu nav
  {
    background:inherit;
    font-size:20px;
    font-weight:bold;
    height:0;
    overflow:hidden;
    text-transform:uppercase;
    transition:height .2s;
  }

  .menu nav > *
  {
    display:block;
    letter-spacing:1px;
    line-height: 7;
    padding:0 20px;
    width:100%;
  }

  .menu nav input
  {
    background:rgba(0,0,0,.2);
    border:none;
    color:rgb(236, 85, 85);
  }

  .menu .burger
  {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    color:inherit;
    cursor:pointer;
    font-family:'Material Icons';
    font-size:30px;
    line-height:100px;
    margin:0;
    outline:0;
    padding:0;
    position:absolute;
    text-align:center;
    top:0;
    right:10px;
    width:200px;
  }

  .menu .burger:before
  {
    content: url('/home/wilder/Bureau/dehaze-24px.svg');
  }

  .menu .burger:checked:before
  {
    content: url('/home/wilder/Bureau/clear-24px.svg');
  }

  .menu .burger:checked + nav
  {
    height: calc(70vh - 50px);
  }

  header h1
  {
      width: 90%;
      height: 150px;
      text-align: center;
      line-height: 150px;
      font-size: 3em;
      font-style: bold;
      margin-top: 600px;
      border: 5px rgb(236, 85, 85) solid; 
      background: #ffbb00;
      color: rgb(180, 30, 30);
      margin-left: 50px;
  }

  input
  {
    font-size: 5em;
  }

  #legroupe
  {
    width: 100%  
  }

  /* Pierre et Marine */
  .hi
  {
  max-height: 500px ;
  }
  h3 
  {
  color: white;
  }

  h1
  {
    border: 2px;
    border-style:solid;
    border-color:black;
    background: white;
    text-align: center;
    font-family: "Press Start 2P", cursive ;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin: auto;
  }



  /* William */
  aside p
  {
    
    height: auto;
    margin-top: 230px;

  }
  aside p img
  {
    width: 100%;
    
  }

  .adresse
  {
    margin-top: 100px;
  }

  .adresse p
  {
    border: 2px;
    border-style:solid;
    border-color:black;
    background: white;
    text-align: center;
    font-family:  "Press Start 2P", cursive;
    font-size: 10px;
    margin: auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 50px;
  }

  footer
  {
    display: flex;
    flex-direction: column ;
    align-items: right;
    justify-content: flex-start;
    background-color: white;
    width: 80%;
    margin: auto;
  }

  footer img
  {
    width: 50px;
    height: 50px;
    justify-content: center
    
  }

  .adresse img
  {
    padding: 35px;

  }

  .Follow {
    display: flex;
    justify-content: center;
  }
 

  @media screen and (mine-width: 500px)
{




  #bloc_page
  {
    width: 100%;
    margin: auto;
  }


  /* Pierre et Marine */
  /* __ style facebook __ */
  /* _ organisation des individus _ */

  #facebook
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* _ folder individu _ */
  .hi
  {
    flex: 300px;
    flex-direction:column ;
    align-items: center ;
    background-color: orange;
  }
  /* - partie texte - */
  .persotexte
  { 
    display: flex ;
    flex-direction:column ;
    align-items: center ;
    margin : 10px ;
    background-color: rgba(220, 140, 100, 0.8) ;
    color: gray;
    box-shadow: inset 1px 2px 10px 4px rgb(255, 230, 0) ;
    border-radius : 6px ;
  }
  .persotexte, .persotexte p 
  {
    min-width: 300px;
  }

  h3
  {
    background-color: blue ; 
    padding: 20px ; 
    margin : 20px ;
    border-radius : 25px ; /* arrondi les coins */
    box-shadow: 5px 5px 6px 4px rgb(63, 41, 0) ;
    font-size: 10vw ;
  }
  .persotexte p 
  {
    font-size: 5vw ;
    white-space: pre-wrap ;
    margin: 10px ; 
    padding: 0 ; 
    text-align: center ; 
  }
  /* - - */

  .hi aside
  {
    width: 100% ;
    margin: 0 ;
    padding: 0; 
  }
  #facebook img 
  {
    width: 100% ; 
  }


}