


@media all and (max-width: 961px)

@import url('https://fonts.googleapis.com/css?family=Lato');

body
{
  background:#fff;
  font-family:'Lato';
  margin:0;
  padding:0;
}

a
{
  color:rgb(238, 71, 99);
  text-decoration:none;
}

.material-icons
{
  font-size:24px;
  margin-right:12px;
  vertical-align:text-bottom;
}

.menu
{
  background: #ffbb00;
  color:rgb(180, 30, 30);
  height: 100px;
  position:relative;
}

.menu .title
{
  font-size: 60px;
  font-weight: bold;
  line-height: 100px;
  padding: 0 250px;
}

.menu nav
{
  background:inherit;
  font-size:20px;
  font-weight:bold;
  height:0;
  overflow:hidden;
  text-transform:uppercase;
  transition:height .2s;
}

.menu nav > *
{
  display:block;
  letter-spacing:1px;
  line-height: 7;
  padding:0 20px;
  width:100%;
}

.menu nav input
{
  background:rgba(0,0,0,.2);
  border:none;
  color:rgb(236, 85, 85);
}

.menu .burger
{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-family:'Material Icons';
  font-size:30px;
  line-height:100px;
  margin:0;
  outline:0;
  padding:0;
  position:absolute;
  text-align:center;
  top:0;
  right:10px;
  width:200px;
}

.menu .burger:before
{
  content: url('/home/wilder/Bureau/dehaze-24px.svg');
}

.menu .burger:checked:before
{
  content: url('/home/wilder/Bureau/clear-24px.svg');
}

.menu .burger:checked + nav
{
  height: calc(70vh - 50px);
}

header h1
{
    width: 90%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 3em;
    font-style: bold;
    margin-top: 600px;
    border: 5px rgb(236, 85, 85) solid; 
    background: #ffbb00;
    color: rgb(180, 30, 30);
    margin-left: 50px;
}

#legroupe
{
  width: 100%  
}